%div.container
  %div.row.with_margins
    %div.col-12.justify-content-center
      %h1.d-flex.justify-content-center Welcome!
      %div.d-flex.justify-content-center
        %a{href: '/books', class: 'btn btn-primary'} Books
      %p.d-flex.justify-content-center
        %img{src:"https://timesofindia.indiatimes.com/thumb/msid-67586673,width-800,height-600,resizemode-4/67586673.jpg"}